.div-1 {
  background-image: url(assets/div-1-img.png);
}

.div-1 > * {
  position: relative;
  z-index: 2;
}

.div-2 {
  background-image: url(assets/div-2-img.png);
}

.div-3 {
  background-image: url(assets/div-3-img.png);
}

.div-4 {
  background-image: url(assets/div-4-1-img.png);
}

.div-6 {
  background-image: url(assets/div-6-img.png);
}

.div-7 {
  background-image: url(assets/div-7-img.png);
}

.div-8 {
  background-image: url(assets/div-8-img.png);
}

.div-9 {
  background-image: url(assets/div-9-img.png);
}